:root{
    --light-theme: #FFFFFF;
    --light-theme-grey: #f6f6f6;
    --light-theme-font: #828282;
    --light-theme-font-darker: black;
    --dark-theme: #05081f;
    --dark-theme-darker: black;
    --dark-theme-font: #ffffff;
    --dark-theme-font-darker: #8da0ff;
}

.light-theme {
    --theme: var(--light-theme);
    --theme-darker: var(--light-theme-grey);
    --theme-font: var(--light-theme-font);
    --theme-font-darker: var(--light-theme-font-darker);
    --card-bg: white;
    --logo: invert(0);
}

.dark-theme{
    --theme: var(--dark-theme);
    --theme-darker: var(--dark-theme-darker);
    --theme-font: var(--dark-theme-font);
    --theme-font-darker: var(--dark-theme-font-darker);
    --card-bg: #8da0ff;
    --logo: invert(100%);
}

@media only screen and (min-width: 100px) and (max-width:770px){
    *{
        font-family: "Gilroy", sans-serif;
    }

    #switcher__btn__desctop{
        display: none;
    }

    #burger{
        position: fixed;
        display: none;
        flex-direction: column;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--theme);
        z-index: 1;
        overflow-y: auto;
    }

    #menu_close{
        position: absolute;
        right: 0;
    }

    .nav_point{
        text-decoration: none;
        padding: 10%;
        color: var(--theme-font-darker);
        font-size: 3em;
        font-weight: bold;
    }

    /*.burger .des_language {*/
    /*    position: absolute;*/
    /*    right: 0;*/
    /*    top: 60%;*/
    /*    font-size: 6vw;*/
    /*    transform: rotate(-90deg);*/
    /*    color: #070707;*/
    /*    font-weight: bold;*/
    /*}*/

    /*.burger .des_language .lang_ru {*/
    /*    color: #828282;*/
    /*}*/

    /*#des_language{*/
    /*    display: none;*/
    /*}*/

    .hero_block{
        background-color: var(--theme);
        padding-bottom: 5%;
    }

    .switcher{
        position: absolute;
        right: 0px;
        bottom: 10%;
        transform: rotate(-90deg);
    }

    .switcher input{
        height: 0;
        width: 0;
        visibility: hidden;
    }

    .switcher label{
        cursor: pointer;
        /*text-indent: -9999px;*/
        width: 50px;
        height: 25px;
        background: grey;
        float: right;
        border-radius: 100px;
        position: relative;
    }

    .switcher label:after{
        content: "";
        position: absolute;
        top: 2px;
        left: 2px;
        width: 20px;
        height: 20px;
        background-color: white;
        border-radius: 90px;
        transition: 0.3s;
    }

    .switcher input:checked + label:after{
        left: calc(100% - 2px);
        transform: translateX(-100%);
    }

    .switcher label:active:after{
        width: 45px;
    }

    .navigation_bar{
        display: none;
    }

    .description{
        display: flex;
        color: var(--theme-font-darker);
        flex-direction: column;
    }

    .desktop_hro_img{
        display: none;
    }

    .phone_menu {
        position: absolute;
        right: 0;
        margin: -4% 5% 0 0;
        color: var(--theme-font-darker);
        text-decoration: none;
        font-size: 15vw;
    }

    .phone_hro_img{
        display: block;
        width: 90%;
        margin: 0 5% 0 5%
    }

    .description{
        margin: 0 0 5% 5%;
        color: var(--theme-font-darker);
    }

    .description #des_name{
        font-size: 10vw;
        font-weight: bold;
        margin: 0 0 3% 0;
    }

    .description #des_about{
        font-size: 5vw;
    }

    .desktop_about_me{
        display: none;
    }

    .phone_about_me{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        color: var(--theme-font-darker);
        padding: 7% 5% 0 5%;
        background-color: var(--theme-darker);
    }

    .about_title {
        font-weight: bold;
        margin-top: 5%;
        font-size: 10vw;
        color: var(--theme-font-darker);
    }

    .about_text {
        font-size: 4vw;
        text-align: center;
        margin-top: 10%;
        color: var(--theme-font-darker);
    }

    .about_text_last {
        font-size: 4vw;
        text-align: center;
        margin-bottom: 15%;
        color: var(--theme-font-darker);
    }

    .skills {
        font-family: "Gilroy", sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: var(--theme);
    }

    .skills_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: var(--theme-font);
    }

    .skills_text_title {
        font-weight: bold;
        margin: 20% 0 10% 0;
        font-size: 10vw;
        color: var(--theme-font-darker);
    }

    .skills_text_text {
        color: var(--theme-font);
        font-size: 5vw;
        
    }

    .skills_blocks {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        flex-direction: column;
        margin: 4.5% 0 5% 0;
        align-items: center;
    }

    .skill_block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        color: var(--theme-font);
        margin: 10%;
        padding: 10%;
        background-color: var(--card-bg);
        border-radius: 90px;
    }

    .rating {
        display: flex;
        justify-content: space-around;
        align-self: flex-end;
        margin-top: 25%;
        height: 5%;
    }

    .star {
        z-index: 1;
        display: block;
        width: 30%;
        height: auto;
        margin: 0 10% 0 10%;
    }

    .figma {
        align-self: flex-end;
    }

    .skill_logo {
        display: block;
        width: auto;
        height: 100px;
        margin-bottom: 25%;
    }

    .portfolio {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        color: var(--theme-font);
        background-color: var(--theme-darker);
    }

    .portfolio_title {
        font-weight: bold;
        font-size: 10vw;
        margin: 20% 0 10% 0;
        color: var(--theme-font-darker);
    }

    .portfolio_block {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        text-decoration: underline;
        color: var(--theme-font);
        margin-bottom: 3%;
    }

    .port_text {
        color: var(--theme-font-darker);
        font-size: 4vw;
    }

    .portfolio_block_img {
        display: block;
        margin: 5% 0 5% 0;
        width: 80%;
        height: auto;
    }
    .portfolio a{
        text-decoration: none;
        margin-bottom: 15%;
        color: var(--theme-font);
    }

    .contacts {
        font-family: "Gilroy", sans-serif;
        color: var(--theme-font);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        background-color: var(--theme);
    }

    .contacts_title {
        font-weight: bold;
        margin: 20% 0 5% 0;
        font-size: 8vw;
        color: var(--theme-font-darker);
    }

    .contacts_subscription {
        font-size: 4vw;
        margin-bottom: 10%;
    }

    .contacts .send_button {
        display: inline-block;
        width: 70%;
        height: auto;
        line-height: 8vw;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        border-radius: 100px;
        background: var(--theme-font-darker);
        color: white;
        margin-bottom: 10%;
        text-decoration: none;
    }

    .contact_logos {
        display: flex;
        justify-content: space-evenly;
        width: 50%;
        margin-bottom: 10%;
        filter: var(--logo);
    }

    .like_me {
        color: var(--theme-font);
        margin-bottom: 20%;
        font-size: 3vw;
        text-decoration: none;
    }
}

@media only screen and (min-width: 769px){
    .phone_hro_img{
        display: none;
    }

    .phone_menu{
        display: none;
    }

    .burger{
        display: none;
    }

    .hero_block{
        background-color: var(--theme);
    }

    nav {
        padding-top: 3%;
        font-family: "Gilroy", sans-serif;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #828282;
        margin: 0 16.5% 3% 17%;
        color: var(--theme-font-darker);
    }

    nav a {
        margin-bottom: 3%;
        font-size: 1.5em;
        text-decoration: none;
        color: var(--theme-font-darker);
    }

    .description {
        font-family: "Gilroy", sans-serif;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin: 3% 15% 0 17%;
        color: var(--theme-font-darker);
    }

    .description #des_name {
        font-size: 3em;
        font-weight: bold;
        color: var(--theme-font-darker);
    }

    .description #des_about {
        font-size: 1.5em;
        color: var(--theme-font-darker);
    }

    /*.description #des_language {*/
    /*    font-size: 1.2em;*/
    /*    transform: rotate(-90deg);*/
    /*    color: #070707;*/
    /*    align-self: center;*/
    /*    font-weight: bold;*/
    /*}*/

    /*.description #des_language #lang_ru {*/
    /*    color: #828282;*/
    /*}*/

    .switcher{
        align-self: center;
        transform: rotate(-90deg);
    }

    .switcher input{
        height: 0;
        width: 0;
        visibility: hidden;
    }

    .switcher label{
        cursor: pointer;
        text-indent: -9999px;
        width: 50px;
        height: 25px;
        background: grey;
        float: right;
        border-radius: 100px;
        position: relative;
    }

    .switcher label:after{
        content: "";
        position: absolute;
        top: 2px;
        left: 2px;
        width: 20px;
        height: 20px;
        background-color: white;
        border-radius: 90px;
        transition: 0.3s;
    }

    .switcher input:checked + label:after{
        left: calc(100% - 2px);
        transform: translateX(-100%);
    }

    .switcher label:active:after{
        width: 45px;
    }

    .desktop_hro_img {
        display: block;
        width: 66%;
        height: auto;
        margin: auto;
        margin-top: 3%;
        padding-bottom: 10%;
    }

    .desktop_about_me {
        font-family: "Gilroy", sans-serif;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        background-color: var(--theme-darker);
    }

    .phone_about_me{
        display: none;
    }

    .about_title {
        font-weight: bold;
        margin-top: 5%;
        font-size: 2em;
        color: var(--theme-font-darker);
    }

    .about_text {
        font-size: 1em;
        text-align: center;
        margin: 1.5%;
        color: var(--theme-font-darker);
    }

    .about_text_last {
        font-size: 1em;
        text-align: center;
        margin: 1.5% 0 5% 0;
        color: var(--theme-font-darker);
    }

    .skills {
        font-family: "Gilroy", sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: var(--theme);
    }

    .skills_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: var(--theme-font);
    }

    .skills_text_title {
        font-weight: bold;
        margin: 5% 0 5% 0;
        font-size: 2em;
        color: var(--theme-font-darker);
    }

    .skills_text_text {
        color: #828282;
        font-size: 1em;
        color: var(--theme-font);
    }

    .skills_blocks {
        display: flex;
        width: 90%;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: baseline;
        background-color: var(--card-bg);
        border-radius: 90px;
        margin: 5%;
        padding: 2%;
    }

    .skill_block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
    }

    .rating {
        display: flex;
        justify-content: space-around;
        align-self: flex-end;
        margin-top: 25%;
    }

    .star {
        display: block;
        width: 30%;
        height: auto;
        margin: 0 5% 0 5%;
    }

    .figma {
        display: flex;
        justify-content: space-around;
        align-self: flex-end;
        margin-top: 45%;
    }

    .skill_logo {
        display: block;
        width: auto;
        height: 100px;
        margin-bottom: 25%;
    }

    .portfolio {
        font-family: "Gilroy", sans-serif;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        color: var(--theme-font);
        background-color: var(--theme-darker);
    }

    .portfolio_title {
        font-weight: bold;
        font-size: 2em;
        margin-top: 5%;
        color: var(--theme-font-darker);
    }

    .portfolio_block {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        text-decoration: underline;
        color: var(--theme-font);
        margin-bottom: 3%;
    }

    .port_text {
        color: var(--theme-font-darker);
        font-size: 1em;
        margin-bottom: 5%;
    }

    .portfolio_block_img {
        display: block;
        margin: 5% 0 5% 0;
        width: 75%;
        height: auto;
    }

    .contacts {
        font-family: "Gilroy", sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        background-color: var(--theme);
    }

    .contacts_title {
        font-weight: bold;
        margin: 5% 0 2% 0;
        font-size: 2em;
        color: var(--theme-font-darker);
    }

    .contacts_subscription {
        font-size: 1.3em;
        margin-bottom: 2%;
        color: var(--theme-font);
    }

    .contacts .send_button {
        display: inline-block;
        width: 25%;
        height: auto;
        line-height: 4vw;
        font-size: 18px;
        text-align: center;
        border-radius: 100px;
        background: #070707;
        color: white;
        margin-bottom: 5%;
        text-decoration: none;
    }

    .contact_logos {
        display: flex;
        justify-content: space-between;
        width: 30%;
        margin-bottom: 5%;
        filter: var(--logo);
    }

    .like_me {
        color: var(--theme-font-darker);
        margin-bottom: 10%;
        font-size: 1em;
        text-decoration: none;
    }
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-ExtraBold.eot');
    src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'),
    url('./fonts/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Gilroy-ExtraBold.woff') format('woff'),
    url('./fonts/Gilroy-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-Heavy.eot');
    src: local('Gilroy Heavy'), local('Gilroy-Heavy'),
    url('./fonts/Gilroy-Heavy.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Gilroy-Heavy.woff') format('woff'),
    url('./fonts/Gilroy-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-LightItalic.eot');
    src: local('Gilroy Light Italic'), local('Gilroy-LightItalic'),
    url('./fonts/Gilroy-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Gilroy-LightItalic.woff') format('woff'),
    url('./fonts/Gilroy-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-ThinItalic.eot');
    src: local('Gilroy Thin Italic'), local('Gilroy-ThinItalic'),
    url('./fonts/Gilroy-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Gilroy-ThinItalic.woff') format('woff'),
    url('./fonts/Gilroy-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-BlackItalic.eot');
    src: local('Gilroy Black Italic'), local('Gilroy-BlackItalic'),
    url('./fonts/Gilroy-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Gilroy-BlackItalic.woff') format('woff'),
    url('./fonts/Gilroy-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-BoldItalic.eot');
    src: local('Gilroy Bold Italic'), local('Gilroy-BoldItalic'),
    url('./fonts/Gilroy-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Gilroy-BoldItalic.woff') format('woff'),
    url('./fonts/Gilroy-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-SemiBold.eot');
    src: local('Gilroy SemiBold'), local('Gilroy-SemiBold'),
    url('./fonts/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Gilroy-SemiBold.woff') format('woff'),
    url('./fonts/Gilroy-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-UltraLightItalic.eot');
    src: local('Gilroy UltraLight Italic'), local('Gilroy-UltraLightItalic'),
    url('./fonts/Gilroy-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Gilroy-UltraLightItalic.woff') format('woff'),
    url('./fonts/Gilroy-UltraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-SemiBoldItalic.eot');
    src: local('Gilroy SemiBold Italic'), local('Gilroy-SemiBoldItalic'),
    url('./fonts/Gilroy-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Gilroy-SemiBoldItalic.woff') format('woff'),
    url('./fonts/Gilroy-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-Light.eot');
    src: local('Gilroy Light'), local('Gilroy-Light'),
    url('./fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Gilroy-Light.woff') format('woff'),
    url('./fonts/Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-MediumItalic.eot');
    src: local('Gilroy Medium Italic'), local('Gilroy-MediumItalic'),
    url('./fonts/Gilroy-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Gilroy-MediumItalic.woff') format('woff'),
    url('./fonts/Gilroy-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-ExtraBoldItalic.eot');
    src: local('Gilroy ExtraBold Italic'), local('Gilroy-ExtraBoldItalic'),
    url('./fonts/Gilroy-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Gilroy-ExtraBoldItalic.woff') format('woff'),
    url('./fonts/Gilroy-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-Regular.eot');
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
    url('./fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Gilroy-Regular.woff') format('woff'),
    url('./fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-HeavyItalic.eot');
    src: local('Gilroy Heavy Italic'), local('Gilroy-HeavyItalic'),
    url('./fonts/Gilroy-HeavyItalic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Gilroy-HeavyItalic.woff') format('woff'),
    url('./fonts/Gilroy-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-Medium.eot');
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
    url('./fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Gilroy-Medium.woff') format('woff'),
    url('./fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-RegularItalic.eot');
    src: local('Gilroy Regular Italic'), local('Gilroy-RegularItalic'),
    url('./fonts/Gilroy-RegularItalic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Gilroy-RegularItalic.woff') format('woff'),
    url('./fonts/Gilroy-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-UltraLight.eot');
    src: local('Gilroy UltraLight'), local('Gilroy-UltraLight'),
    url('./fonts/Gilroy-UltraLight.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Gilroy-UltraLight.woff') format('woff'),
    url('./fonts/Gilroy-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-Bold.eot');
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
    url('./fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Gilroy-Bold.woff') format('woff'),
    url('./fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


